<footer class="bottom-navigation-bar">
    <div class="container">
        <ul>
            <li>
                <a class="bottom-navigation-item active" href="#home&match">
                    <i class="material-icons">sports_soccer</i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a class="bottom-navigation-item" href="#favorite&match">
                    <i class="material-icons">favorite</i>
                    <span>Favorite</span>
                </a>
            </li>
        </ul>
    </div>
</footer>